*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #fbc2eb,
        #a6c1ee
    );
    padding:20px;
}

.container{
    width:550px;
    background:white;
    border-radius:20px;
    padding:30px;
    box-shadow:0 15px 40px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:25px;
    color:#4f46e5;
}

.input-section{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:20px;
}

.input-section input{
    flex:1;
    min-width:180px;
    padding:12px;
    border:2px solid #ddd;
    border-radius:10px;
    outline:none;
}

.input-section input:focus{
    border-color:#6366f1;
}

#dueDate{
    padding:12px;
    border:2px solid #ddd;
    border-radius:10px;
    outline:none;
}

#dueDate:focus{
    border-color:#6366f1;
}

#addBtn{
    background:#22c55e;
    color:white;
    border:none;
    padding:12px 18px;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
}

#addBtn:hover{
    background:#16a34a;
}

.stats{
    text-align:center;
    margin-bottom:20px;
    font-weight:600;
    color:#374151;
}

#taskList{
    list-style:none;
}

.task{
    background:#f8fafc;
    padding:15px;
    margin-bottom:12px;
    border-radius:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:0.3s;
}

.task:hover{
    transform:translateY(-2px);
}

.task.completed span{
    text-decoration:line-through;
    color:gray;
}

.task-left{
    display:flex;
    align-items:flex-start;
    gap:10px;
}

.task-left small{
    color:#6b7280;
}

.delete-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:8px 10px;
    border-radius:8px;
    cursor:pointer;
}

.delete-btn:hover{
    background:#dc2626;
}